.reg {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reg h1 {
    margin-bottom: 70px;
}

.link {
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: #1f1731;
    text-decoration: none;

    transition: 0.25s;
}

.link:hover {
    background-color:#2A2550;
}
