.home {
    display: flex;
    height: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    text-align: center;
    font-size: 1.1em;
    color: white;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home button {
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(108, 31, 63);
    transition: 0.25s;
    margin-top: 20px;
}

.link {
    text-decoration: none;
    border-radius: 40px;
    padding: 10px 30px;
    border: 3px solid rgba(158,82,179,1);

    color: white;
    transition: 0.25s;
}

.link:hover {
    background-color: rgba(158,82,179,1);
}